/* foot */
.footer-form {
  box-sizing: border-box;
  width: 1880px;
  height: 480px;
  /* position: absolute; */
  /* bottom: 0px; */
  /* left: 0; */
}
  
.flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}
.justify-between {
  justify-content: flex-start;
}

.justify-start {
  justify-content: flex-start;
}

.flex >div {
  width: 174px;
  padding-right: 10px;

}

.title-box {
  background-color: rgb(220, 220, 220);
  color: #000;
  height: 32px;
  line-height: 32px;
  padding-left: 6px;
}

.export-box {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 10px;
}

.export-box button {
  width: 160px;
}